.App-container {
  max-width: 1065;
}

.nav-bar {
  display: flex;
  height: 50px;
  padding: 0;
  margin: 0;
  /* border: solid red 2px; */
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-bar > ul {
  list-style: none;
  color: #64c5e2;
}

ul {
  display: flex;
  margin: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

ul > li {
  padding: 5px;
  /* margin-left: auto; */
  /* margin: auto;  */
  padding-left: 30px;
}
